/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


.root {
    CHART_COLOR_1       : #fba71b;
    -fx-background-color: #474747;    
}

.value-label {
    -fx-background-color : white, #656565;
    -fx-background-insets: 0, 2;
    -fx-padding          : 5 6 5 5;
    -fx-background-radius: 4, 3;
    -fx-text-fill        : white;
}

/*******************************************************************************
 *                                                                             *
 * Charts                                                                      *
 *                                                                             *
 ******************************************************************************/
.chart {
    -fx-padding: 5px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
}
.chart-legend {
    -fx-background-color : #656565;     
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-padding          : 6px;    
}
.chart-legend > .label {
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * Axis                                                                        *
 *                                                                             *
 ******************************************************************************/
.axis {
    AXIS_COLOR              : derive(-fx-background,-20%);
    -fx-tick-label-font-size: 0.833333em; /* 10px */
    -fx-tick-label-fill     : white;
}
.axis:top {
    -fx-border-color: transparent transparent AXIS_COLOR transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent AXIS_COLOR;
}
.axis:bottom {
    -fx-border-color: AXIS_COLOR transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent AXIS_COLOR transparent transparent;
}
.axis:top > .axis-label, .axis:left > .axis-label {
    -fx-padding  : 0 0 4px 0;
    -fx-text-fill: white;
}
.axis:bottom > .axis-label, .axis:right > .axis-label {
    -fx-padding: 4px 0 0 0;
}
.axis-tick-mark, .axis-minor-tick-mark {
    -fx-fill  : null;
    -fx-stroke: AXIS_COLOR;
}


/*******************************************************************************
 *                                                                             *
 * LineChart                                                                   *
 *                                                                             *
 ******************************************************************************/
.chart-line-symbol {
    -fx-background-color : CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 7px, 5px;
    -fx-padding          : 7px;
}
.chart-line-symbol:hover {
    -fx-effect: dropshadow(two-pass-box, white, 10, 0, 0, 0);
}
.chart-series-line {
    -fx-stroke      : CHART_COLOR_1;
    -fx-stroke-width: 4px;
}
.default-color0.chart-line-symbol { -fx-background-color: CHART_COLOR_1, white; }

.default-color0.chart-series-line { -fx-stroke: CHART_COLOR_1; }

